<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>twLoremIpsumPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>False data generator with more-or-less normal distribution of letters</summary>
  <description>When it is necessary to generate test data for performance testing, or if you need to generate data for presentation purposes this plugin can be helpfull.</description>
  <lead>
    <name>Arkadiusz Tułodziecki</name>
    <user>ldath</user>
    <email>atulodzi@gmail.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>
    <![CDATA[
    * ldath: API CHANGE !!!
    ]]>
  </notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.2.0</min>
        <max>1.5.0</max>
        <exclude>1.5.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>0.4.0</release>
        <api>0.4.0</api>
      </version>
      <stability>
        <release>alpha</release>
        <api>alpha</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">
        MIT license
      </license>
      <date>2010-09-01</date>
      <license>MIT</license>
      <notes>
        <![CDATA[
        * ldath: API CHANGE !!!
        ]]>
      </notes>
    </release>
    <release>
      <version>
        <release>0.3.0</release>
        <api>0.3.0</api>
      </version>
      <stability>
        <release>alpha</release>
        <api>alpha</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">
        MIT license
      </license>
      <date>2010-08-31</date>
      <license>MIT</license>
      <notes>
        <![CDATA[
        * ldath: adding sentences generator (useful for lists)
        * ldath: adding possibility to use own dictionary source files
        * ldath: bugfixes
        ]]>
      </notes>
    </release>
    <release>
      <version>
        <release>0.2.1</release>
        <api>0.2.1</api>
      </version>
      <stability>
        <release>alpha</release>
        <api>alpha</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">
        MIT license
      </license>
      <date>2010-08-31</date>
      <license>MIT</license>
      <notes>
        <![CDATA[
        * ldath: adding namespaces for unique data generators
        * ldath: new methods for single data generators `generateUniqueString` & `generateParagraph`
        * ldath: now is possible to setup number of sentences or random based on min/max numbers of sentences in paragraph
        * ldath: generating random words and uniques random words are now possible
        ]]>
      </notes>
    </release>
    <release>
      <version>
        <release>0.1.0</release>
        <api>0.1.0</api>
      </version>
      <stability>
        <release>alpha</release>
        <api>alpha</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">
        MIT license
      </license>
      <date>2010-08-29</date>
      <license>MIT</license>
      <notes>
         * ldath: first release
      </notes>
    </release>
  </changelog>
</package>
